@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 78 5% 90%;
    --card: 90 5% 7%;
    --card-foreground: 78 5% 90%;
    --popover: 78 50% 5%;
    --popover-foreground: 78 5% 90%;
    --primary: 78 89% 46.5%;
    --primary-foreground: 0 0% 6.3%;
    --secondary: 78 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 40 30% 15%;
    --muted-foreground: 78 5% 60%;
    --accent: 40 30% 15%;
    --accent-foreground: 78 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 78 5% 90%;
    --border: 78 30% 18%;
    --input: 78 30% 18%;
    --ring: 78 89% 46.5%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input:focus {
    @apply focus-visible:ring-0 focus-visible:ring-offset-0;
  }
}
