@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

@layer base {
  :root {
    --background: 150 14.3% 2.7%;
    --foreground: 0 0% 100%;
    --card: 90 5% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 78 50% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 78 89% 46.5%;
    --primary-foreground: 0 0% 6.3%;
    --secondary: 78 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 40 30% 15%;
    --muted-foreground: 120 1% 77%;
    --accent: 40 30% 15%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 90 3% 13%;
    --input: 78 30% 18%;
    --ring: 78 89% 46.5%;
    --radius: 0.5rem;
  }
}
@layer base {
  *,
  *::before,
  *::after {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input:focus {
    @apply focus-visible:ring-0 focus-visible:ring-offset-0;
  }
}

body::-webkit-scrollbar {
  display: none;
}

blockquote {
  font-style: italic;
  border-left: 2px solid hsl(var(--primary));
  padding-left: 10px;
  margin: 20px 0;
}

.blog-ul {
  list-style-type: disc;
  padding-left: 2rem;
}
.blog-ul li {
  margin-bottom: 10px;
}
